# Curso Data Science: análise e visualização de dados
#### Este arquivo documenta os primeiros passos com Jupyter Notebook, Python e as bibliotecas Pandas e Numpy

In [5]:
#importando as bibliotecas

import pandas as pd

In [6]:
#lendo os arquivos

notas = pd.read_csv("resources/ml-latest-small/ratings.csv")

## Alguns métodos e atributos dos objetos DataFrame e Series

In [7]:
#método do objeto dataframe que mostra os 5 primeiros itens
notas.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [8]:
#método do objeto dataframe que mostra a dimensão da tabela em (linhas, colunas)
notas.shape

(100836, 4)

In [9]:
#atributo do objeto dataframe que trata das colunas, podendo por exemplo, renomear as colunas da minha tabela
notas.columns = ["usuarioId", "filmeId", "nota", "momento"]

#método do objeto dataframe que mostra as n linhas quando > .head([n]) < ou as 5 primeiras linhas quando > .head() <
notas.head()

   usuarioId  filmeId  nota    momento
0          1        1   4.0  964982703
1          1        3   4.0  964981247
2          1        6   4.0  964982224
3          1       47   5.0  964983815
4          1       50   5.0  964982931

In [10]:
#método do objeto Serie que retorna os valores únicos daquela série
    ##observação: a partir do momento que chamo notas.['nota'], ou seja, apenas a coluna ‘nota’ da minha tabela, 
    ##estou trabalhando não mais com uma tabela/matriz, mas sim com a minha série/vetor*
notas['nota'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [11]:
#método do objeto Serie que retorna quantidade/frequência de vezes que cada valor da coluna ‘nota’ aparece
notas['nota'].value_counts()

nota
4.0    26818
3.0    20047
5.0    13211
3.5    13136
4.5     8551
2.0     7551
2.5     5550
1.0     2811
1.5     1791
0.5     1370
Name: count, dtype: int64